extends layout

block content
  h1= title

  form(method='POST' action='')
    div.form-group
      label(for='name') Name:
      input#name.form-control(type='text', placeholder='Name of Item' name='name' required='true' value=(undefined===item ? '' : item.name) )
    div.form-group
      label(for='category') Category:
      select#category.form-control(type='select', placeholder='Select category' name='category' required='true' )
        - category.sort(function(a, b) {let textA = a.name.toUpperCase(); let textB = b.name.toUpperCase(); return (textA < textB) ? -1 : (textA > textB) ? 1 : 0;});
        for c in category
          if item
            option(value=c._id selected=(c._id.toString()===item.c._id.toString() ? 'selected' : false) ) #{c.name}
          else
            option(value=c._id) #{c.name}
    div.form-group
      label(for='description') Description:
      textarea#description.form-control(type='textarea', placeholder='Description' name='description' required='true') #{undefined===item ? '' : item.description}
    div.form-group
      label(for='price') Price:
      input#price.form-control(type='text', placeholder='15.99' name='price' value=(undefined===item ? '' : item.price) required='true')
    div.form-group
      label(for='stock') Stock:
      input#stock.form-control(type='text', placeholder='42' name='stock' value=(undefined===item ? '' : item.stock) required='true')
    button.btn.btn-primary(type='submit') Submit

  if errors
    ul
      for error in errors
        li!= error.msg
